<div class="form_container">
	<div class="row">
		<div class="col-lg-10 col-lg-offset-2 col-sm-12 col-xs-12" style="background-color:#000000;">
			<section class="panel">
				<header class="panel-heading">
					<h2 class="panel-title text-center">Edit Your Shop Here!</h2> 
				</header>
				<div class="panel-body">
					<%= render "form", shop: @shop %>
				</div>
			</section>
		</div>
	</div>
</div>
