<h1>Hi <%= @order.sender_name %></h1>

<p>
 My name is <%#= @seller.first_name  %> and I have some interesting variety of cakes of which I know you will be interested in one. I will contact you shortly via the phone number you gave in the order. 
 Nice doing business with you.
</p>
