<h1>Here are a list of products you have currently that do no belong to any shop:</h1>
<% @shopless_products.each do |product| %>
  <h1><%= link_to product.name, shopless_product_path(product), class: "buy_now" %> <%= link_to fa_icon("plus-square") + "", add_shopless_product_path(product, shop_id: @shop.id), data: { confirm: "Do you want to add #{product.name} to #{@shop.name}?"} %> <%#= @shop.name %></h1>
  <br>
<% end %>


