<div class="form_container">
	<div class="row">
		<div class="col-lg-10 col-lg-offset-2 col-sm-12 col-xs-12" style="background-color:#000000;">
			<section class="panel">
				<header class="panel-heading">
					<h2 class="panel-title text-center">Upload Your Cake</h2> 
				</header>
				<div class="panel-body">

					<%= render "form", shop: @shop, product: @product %>

					<div class="text-center" style="padding-top:5%;">
						<%= link_to fa_icon("arrow-left") + " Back", :back, class: "buy_now" %>
					</div>
				</div>
			</section>
		</div>
	</div>
</div>
